<?xml version="1.0" encoding="UTF-8"?>

<VertigoSettings lastScanPath="/home/tom/Dokumente/discoDSP/Vertigo/Banks" lastProgramPath="/home/tom/Dokumente/discoDSP/Vertigo/Banks"
                 fftWindowType="3" fftWindowSize="2" loggingEnabled="0" smallPopupFont="1"
                 lastGuiPage="0" zoomLevel="0" zoomPartials="0" zoomEnvelope="0"
                 defaultGuiWidth="0" defaultGuiHeight="0" instantPartialEdit="0"/>
